@model formularz.Models.Dane;


@{
    ViewData["Title"] = "Form";
}
@* <form asp-action="Form" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Imie">Twoje imie</label>
        <input asp-for="Imie" />
    </div>
    <div>
        <label asp-for="Email">Twoj Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Temat">Temat</label>
        <input asp-for="Temat" />
    </div>
    <div>
        <label asp-for="Tresc">Tresc</label>
        <input asp-for="Tresc" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form> *@

@using (Html.BeginForm("Form", "Dane", FormMethod.Post))
{
    @Html.ValidationSummary(false,"",new {@class="text-danger"})
    <p>Twoje imie: @Html.TextBoxFor(a=>a.Imie)</p>
    <p>Twoje nazwisko: @Html.TextBoxFor(a=>a.Nazwisko)</p>
    <p>Twoj Email: @Html.TextBoxFor(a=>a.Email)</p>
    <p>Hasło: @Html.PasswordFor(a=>a.Haslo)</p>
    <p>Potwierdzenie hasła: @Html.PasswordFor(a=>a.PotwierdzenieHasla)</p>
    <p>Numer telefonu: @Html.TextBoxFor(a=>a.Numer)</p>
    <p>Twój wiek: @Html.TextBoxFor(a=>a.Wiek)</p>
    <input type="submit"/>
}