@model formularz.Models.Dane;

@{
    ViewData["Title"] = "Formularz rejestracji";
}

@using (Html.BeginForm("Form", "Dane", FormMethod.Post))
{
    @Html.ValidationSummary(false,"",new {@class="text-danger"})
    <p>Twoje imie: @Html.TextBoxFor(a=>a.Imie)</p>
    <p>Twoje nazwisko: @Html.TextBoxFor(a=>a.Nazwisko)</p>
    <p>Twoj Email: @Html.TextBoxFor(a=>a.Email)</p>
    <p>Hasło: @Html.PasswordFor(a=>a.Haslo)</p>
    <p>Potwierdzenie hasła: @Html.PasswordFor(a=>a.PotwierdzenieHasla)</p>
    <p>Numer telefonu: @Html.TextBoxFor(a=>a.Numer)</p>
    <p>Twój wiek: @Html.TextBoxFor(a=>a.Wiek)</p>
    <p>Miasto: <select asp-for="Kategoria"
            asp-items="Html.GetEnumSelectList<Dane.Kategorie>()">
    </select></p>
    <input type="submit"/>
}
