@model formularz.Models.Dane;
@using formularz.Controllers;

@{
    ViewData["Title"] = "Rejestracja";
}
<h1>Rejestracja</h1>
Potwierdzenie rejestracji
<br />
Imie: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email: @Model.Email
<br />
hasło: @Model.Haslo
<br />
Nr Telefonu: @Model.Numer
<br />
Wiek: @Model.Wiek
<br />